// Main colors _configs
$blue: hsl(233, 26%, 24%);
$green: hsl(136, 64%, 51%);
$cyan: hsl(192, 69%, 51%);
// Dark colors
$gray-600: hsl(233, 8%, 62%);
$gray-100: hsl(220, 16%, 96%);
$gray-50: hsl(0, 0%, 98%);
// Neutrals
$white: hsl(0, 100%, 100%);

// Margin
$margin1: 1.25rem 0;
$margin2: 0.625rem 0;

// Padding
$padding1: 0.9375rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
p,
a,
li,
span {
  font-size: 0.75rem;
  color: inherit;
  line-height: 1.2rem;
}
h2,
h3,
h5,
h6 {
  font-weight: 400;
  color: inherit;
  line-height: 2rem;
}
body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.125rem;
  background-color: $gray-100;
  color: $gray-600;
}

// Class Names
.hamburger {
  display: none;
}
.invite-btn {
  border: 1px solid;
  border-radius: 20px / 20px;
  background: linear-gradient(15deg, $cyan, $green);
  padding: 0.625rem 1.25rem;
  color: $white;
  transition: opacity 0.5s ease, background 1.2s ease-in-out 2s;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// active states
.invite-btn:hover {
  opacity: 0.8;
  background: linear-gradient(-345deg, $green, $cyan);
}
.blog-link:hover {
  color: $green;
}
.base-line:hover {
  border-bottom: thick solid $green;
}
